<div class="container new">

  <h1>CREATE A NEW LIST</h1>

  <i class="fas fa-chevron-left"></i>
  <%= link_to "BACK", lists_path, class: "back" %>

  <div class="form">
    <%= simple_form_for(@list) do |f| %>
      <%= f.input :name, placeholder: 'NAME'%>
      <%= f.input :tag_list, placeholder: "TAGS" %>
      <%= f.input :tag_list, placeholder: 'IMAGES' %>
      <%= f.button :submit, "CREATE" %>
    <% end %>
  </div>
</div>
