<div class="container show">

  <div class="head d-flex justify-content-between align-items-baseline">
    <h1><%= @list.name %></h1>
    <%#= link_to "+", new_list_bookmark_path(@list)  %>
    <%= render 'bookmarks/new_bookmark' %>
  </div>
  <div class="nav nav-tabs btn-mybookmark">
    <a class="nav-item nav-link active" href="#first_tab" data-toggle="tab">🎬 TO WATCH</a>
    <a class="nav-item nav-link" href="#second_tab" data-toggle="tab">✓ WATCHED</a>
  </div>
   <div class="tab-content">
      <div class="tab-pane active" id="first_tab">
        <% @unwatched_bookmarks.each do |bookmark| %>
          <div class="bookmark-card">
            <%= image_tag bookmark.movie.poster_url %>

            <div class="info">
              <h3><%= bookmark.movie.title%></h3>
              <p><%= bookmark.comment %></p>
              <p><%= bookmark.status %></p>
            </div>
            <div class="logos">
               <%= link_to validate_path(bookmark), method: :patch do %>
               <i class="far fa-square"> </i>
               <% end %>
               <%= link_to validate_path(bookmark), method: :patch do %>
              <i class="far fa-star "></i>
              <% end %>
            </div>

          </div>
        <% end %>
      </div>
      <div class="tab-pane" id="second_tab">
        <% @watched_bookmarks.each do |bookmark| %>
          <div class="bookmark-card">
            <%= image_tag bookmark.movie.poster_url %>

            <div class="info">
              <h3><%= bookmark.movie.title%></h3>
              <p><%= bookmark.comment %></p>
              <p><%= bookmark.status %></p>
            </div>
            <div class="logos">
               <%= link_to unwatched_path(bookmark), method: :patch do %>
               <i class="far fa-check-square"></i>
               <% end %>
               <%= link_to validate_path(bookmark), method: :patch do %>
              <i class="far fa-star "></i>
              <% end %>
            </div>

          </div>
        <% end %>
      </div>
    </div>

</div>

