<h3 id="popup-title">Add a movie to your <%= @list.name %> list</h3>

<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.association :movie %>
  <%= f.input :comment %>
  <br>
  <%= f.submit "ADD IT", class: "btn-big" %>
<% end %>
